:root {
    --sidebar-background-color: lightgray;
    --delete-button-background-color: red;
    --delete-button-color: white;
    --active-project-color: green;
}

body, .project-main-title, .todos-title, .project-title {
    margin: 0;
}

#content {
    display: flex;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 80vw;
    height: 100vh;
}

.project-main-title, .todos-title {
    text-align: center;
    padding: 2vw 0 0 0;
}

.project-title-input, .project-input-submit {
    height: 3vh;
    margin-bottom: 2vh;
    line-height: 1;
}

.project-title-input {
    width: 15vw;
}

.project-input-submit {
    justify-self: center;
    align-self: center;
    background-color: blue;
    color: white;
}

.new-project {
    align-self: center;
    justify-self: center;
    display: flex;
    column-gap: 1vw;
}

.create-project {
    background-color: gray;
    font-size: 1rem;
    border-radius: 6px;
}

.new-project, .create-project {
    height: 6vh;
}

.notes,
.green-notes {
    width: 4vw;
    height: 4vh;
    place-self: center;
}

.project {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    height: 4vh;
}

.project-title {
    justify-self: start;
    align-self: center;
    border: none;
    background-color: var(--sidebar-background-color);
    font-size: 1rem;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    height: 70vh;
}

.project-delete {
    background-color: var(--delete-button-background-color);
    color: var(--delete-button-color);
    font-weight: bold;
    margin-right: 1vw;
}

.default {
    margin-right: 3vw;
}

.active .project-title {
    color: var(--active-project-color);
}